@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsla(180, 66%, 49%, 0.3);
    display: flex;
    justify-content: center;
}

.page {
    background-color: white;
    width: 1440px;
    height: 1800px;
}


.page-top {
    margin-left: 165px;
}


.main-menu {
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    margin-bottom: 78px;
    margin-top: 46px;
    margin-right: 165px;
}

.main-menu > img {
    height: 32px;
    width: 125px;
    margin-right: 45px;
    margin-top: 4px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 40px;
    margin-right: 490px;
    padding-top: 9px;
    width: 265px;
}

.main-navigation a:link,
.main-navigation a:visited {
    color: hsl(257, 7%, 63%);
    text-decoration: none;
}

.access {
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 185px;
}

.access > a {
    padding-top: 9px;
}

.access > button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 32px;
    color: hsl(360, 100%, 100%);
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    height: 40px;
    width: 106px;
}

.access a:link,
.access a:visited {
    color: hsl(257, 7%, 63%);
    text-decoration: none;
}

.hero {
    display: flex;
    height: 638px; /* 550px + 85px = 635px */
    overflow: hidden;
    width: 1275px;
}

.advertising {
    height: 486px;
    margin-top: 64px;
    margin-right: 57px;
    width: 610px;
}

.advertising > h1 {
    -webkit-user-select: none;
    color: hsl(255, 11%, 22%);
    cursor: default;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.026em;
    line-height: 92px;
    user-select: none;
    width: 610px;
}

.advertising > p {
    color: hsl(257, 7%, 63%);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.002em;
    line-height: 36px;
    width: 610px;
}

.advertising > button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 32px;
    color: hsl(360, 100%, 100%);
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
    height: 60px;
    letter-spacing: 0.030em;
    margin-top: 32px;
    width: 200px;
}

.hero img {
    height: 485px;
    width: 730px;
}

.shorten-container {
    align-items: center;
    background-color: hsl(257, 27%, 26%);
    background-image: url('images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    border-radius: 10px;
    bottom: 85px;
    display: flex;
    height: 168px;
    margin-left: 165px;
    position: relative;
    width: 1112px;
}

#new-link {
    border: none;
    border-radius: 10px;
    height: 65px;
    margin-left: 65px;
    margin-right: 24px;
    outline-color: hsl(0, 87%, 67%);
    outline-style: hidden;
    padding-left: 28px;
    padding-top: 9px;
    width: 768px;
}

.shorten-container ::placeholder {
    /* why '#new-link ::placeholder{}' does not work? */
    color: hsl(257, 7%, 63%);
    font-size: 20px;
}

.shorten-container > button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 10px;
    color: hsl(360, 100%, 100%);
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
    height: 65px;
    letter-spacing: 0.02em;
    width: 190px;
}





.a {
    height: 40px;
    width: 540px;
    background-color: hsl(180, 66%, 49%);
}

.b {
    height: 40px;
    width: 540px;
    background-color: hsl(257, 27%, 26%);
}

.c {
    height: 40px;
    width: 540px;
    background-color: hsl(0, 87%, 67%);
}

.d {
    height: 40px;
    width: 540px;
    background-color: hsl(0, 0%, 75%);
}

.e {
    height: 40px;
    width: 540px;
    background-color: hsl(257, 7%, 63%);
}

.f {
    height: 40px;
    width: 540px;
    background-color: hsl(255, 11%, 22%);
}

.g {
    height: 40px;
    width: 540px;
    background-color: hsl(260, 8%, 14%);
}

.page-middle{
    background-color:hsl(230, 25%, 95%);
    height: 680px;
}
.first_div{
    margin-left: 500px;
}
.title_secondhalf{
    font-weight: 700;
    color: black;
    font-size: 32px;
    margin-left: 50px;
}
.paragraph_secondhalf{
    color: gray;
    font-size: 14px;
    text-align: center;
    margin-right: 500px;
}

.first_menu{
    border-radius: 10px;
    background-color: white;
    margin-top: 50px;
    margin-left: 165px;
    width: 340px;
    height: 240px;
}
.second_menu{
    border-radius: 10px;
    background-color: white;
    margin-top: -190px;
    margin-left: 545px;
    width: 340px;
    height: 240px;
}
.third_menu{
    border-radius: 10px;
    background-color: white;
    margin-left: 925px;
    margin-top: -190px;
    width: 340px;
    height: 240px;
    margin-bottom: 40px;
}
.color_h3{
    margin-left: 12px;
    margin-top: -20px;
}
.color_p{
    margin-left: 12px;
    color: grey;
}
.image_container{
    position: relative;
    background-color: rgb(5, 5, 83);
    height: 75px;
    width: 75px;
    border-radius: 40px;
    left: 20px;
    top: -35px;
}

.brand{
    margin-left: 16px;
    margin-top: 15px;
    height: 40px;
    width: 40px;
}

.detailed{
    height: 40px;
    width: 40px;
    margin-left: 18px;
    margin-top: 16px;
}
.fully{
    height: 40px;
    width: 40px;
    margin-left: 18px;
    margin-top: 16px;
}
.page-bottom{
    display: flex;
    background-color: rgb(45, 45, 58);
}
.button{
    background-color: rgb(0, 213, 255);
    color: white;
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin-left: -800px;
    margin-top: 120px;
    border-radius: 25px;
}
.boost{
    position: absolute;
    color: white;
    font-size: 30px;
    margin-left: 580px;
    margin-top: 40px;
}
.last{
    display: flex;
    background-color: rgb(39, 39, 39);
}
.shortly{
    color: white;
    margin-left: 140px;
    margin-top: 40px;
    font-size: 30px;
}
.first_block{
    display: flex;
    flex-direction: column;
    color: gray;
    margin-left: 200px;
    font-size: 12px;
    margin-top: 30px;
}
.first_block > ul{
    list-style-type: none;
}
.second_block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: grey;
    margin-left: 100px;
    font-size: 12px;
}
.second_block > ul{
    list-style-type: none;
}
.third_block{
    display: flex;
    flex-direction: column;
    color: grey;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 12px;
}
.third_block > ul{
    list-style-type: none;
}
.white{
    color: white;
    font-size: 15px;
    margin-left: 40px;
}
.last{
    height: 250px;
}
.icon{
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 170px;
    margin-top: 50px;
}
.icon img {
    margin-right: 15px;

}