@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsla(180, 66%, 49%, 0.3);
    display: flex;
    justify-content: center;
}

.page {
    background-color: white;
    width: 1440px;
    height: 1800px;
}

.page-top {
    margin-left: 165px;
}

.main-menu {
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    margin-bottom: 78px;
    margin-top: 46px;
    margin-right: 165px;
}

.main-menu > img {
    height: 32px;
    width: 125px;
    margin-right: 45px;
    margin-top: 4px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 40px;
    margin-right: 490px;
    padding-top: 9px;
    width: 265px;
}

.main-menu a:link,
.main-menu a:visited {
    color: hsl(257, 7%, 63%);
    text-decoration: none;
}

.main-menu a:hover,
.main-menu a:visited:hover,
.main-menu a:active,
.main-menu a:visited:active {
    color: hsl(255, 11%, 22%);
}

.access {
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 185px;
}

.access > a {
    padding-top: 9px;
}

.access > button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 32px;
    color: hsl(360, 100%, 100%);
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    height: 40px;
    width: 106px;
}

.hero {
    display: flex;
    height: 638px; /* 550px + 85px = 635px */
    overflow: hidden;
    width: 1275px;
}

.advertising {
    height: 486px;
    margin-top: 64px;
    margin-right: 57px;
    width: 610px;
}

.advertising > h1 {
    -webkit-user-select: none;
    color: hsl(255, 11%, 22%);
    cursor: default;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.026em;
    line-height: 92px;
    user-select: none;
    width: 610px;
}

.advertising > p {
    color: hsl(257, 7%, 63%);
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.002em;
    line-height: 36px;
    width: 610px;
}

.advertising > button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 32px;
    color: hsl(360, 100%, 100%);
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
    height: 60px;
    letter-spacing: 0.030em;
    margin-top: 32px;
    width: 200px;
}

.hero img {
    height: 485px;
    width: 730px;
}

.page-middle {
    background-color:hsl(230, 25%, 95%);
    height: 910px;
}

.shorten-container {
    background-color: hsl(257, 27%, 26%);
    background-image: url('images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    border-radius: 10px;
    bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    margin-left: 165px;
    padding-top: 52px;
    position: relative;
    width: 1112px;
}

.new-link {
    border: none;
    border-radius: 10px;
    caret-color: hsl(255, 11%, 22%);
    height: 66px;
    margin-left: 65px;
    margin-right: 24px;
    outline-style: none;
    padding-left: 28px;
    padding-top: 9px;
    width: 768px;
}

.invalid-link .new-link {
    border: 3px solid hsl(0, 87%, 67%);
}

.shorten-container ::placeholder {
    /* why '#new-link ::placeholder{}' does not work? */
    color: hsl(257, 7%, 63%);
    font-size: 20px;
}

.invalid-link ::placeholder {
    color: hsla(0, 87%, 67%, 0.4);
}

.shorten-container > button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 10px;
    color: hsl(360, 100%, 100%);
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
    height: 66px;
    letter-spacing: 0.02em;
    width: 190px;
}

.invalid-text {
    color: hsl(0, 87%, 67%);
    display: none;
    font-style: italic;
    margin-bottom: 16px;
    margin-left: 65px;
}

/* Joining point */

.first_div {
    margin-bottom: 80px;
    margin-left: 500px;
    margin-top: 38px;
}

.title_second_half {
    font-weight: 700;
    color: black;
    font-size: 32px;
    margin-left: 50px;
}

.paragraph_second_half {
    color: gray;
    font-size: 14px;
    text-align: center;
    margin-right: 500px;
}

.first_menu {
    border-radius: 10px;
    background-color: white;
    margin-top: 50px;
    margin-left: 165px;
    width: 340px;
    height: 240px;
}

.second_menu {
    border-radius: 10px;
    background-color: white;
    margin-top: -190px;
    margin-left: 545px;
    width: 340px;
    height: 240px;
}

.third_menu {
    border-radius: 10px;
    background-color: white;
    margin-left: 925px;
    margin-top: -190px;
    width: 340px;
    height: 240px;
    margin-bottom: 40px;
}

.color_h3 {
    margin-left: 12px;
    margin-top: -20px;
}

.color_p {
    margin-left: 12px;
    color: grey;
}

.image_container {
    position: relative;
    background-color: rgb(5, 5, 83);
    height: 75px;
    width: 75px;
    border-radius: 40px;
    left: 20px;
    top: -35px;
}

.brand {
    margin-left: 16px;
    margin-top: 15px;
    height: 40px;
    width: 40px;
}

.detailed {
    height: 40px;
    width: 40px;
    margin-left: 18px;
    margin-top: 16px;
}

.fully {
    height: 40px;
    width: 40px;
    margin-left: 18px;
    margin-top: 16px;
}

.page-bottom {
    display: flex;
    background-color: rgb(45, 45, 58);
}

.button {
    background-color: rgb(0, 213, 255);
    border: none;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin-left: -800px;
    margin-top: 120px;
    border-radius: 25px;
}

.boost {
    position: absolute;
    color: white;
    font-size: 30px;
    margin-left: 580px;
    margin-top: 40px;
}

.last {
    display: flex;
    background-color: rgb(39, 39, 39);
}

.shortly {
    color: white;
    margin-left: 140px;
    margin-top: 40px;
    font-size: 30px;
}

.first_block {
    display: flex;
    flex-direction: column;
    color: gray;
    margin-left: 200px;
    font-size: 12px;
    margin-top: 30px;
}

.first_block > ul {
    list-style-type: none;
}

.second_block {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: grey;
    margin-left: 100px;
    font-size: 12px;
}

.second_block > ul {
    list-style-type: none;
}

.third_block {
    display: flex;
    flex-direction: column;
    color: grey;
    margin-top: 30px;
    margin-left: 100px;
    font-size: 12px;
}

.third_block > ul {
    list-style-type: none;
}

.white {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.last {
    height: 250px;
}

.icon {
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 170px;
    margin-top: 55px;
}

.icon img {
    margin-right: 15px;
}

ul li {
    margin-bottom: 8px;
}

li a:link,
li a:visited {
    color: hsl(257, 7%, 63%);
    text-decoration: none;
}

li a:hover,
li a:visited:hover,
li a:active,
li a:visited:active {
    color: hsl(180, 66%, 49%);
}

.icon a img:hover {
    filter: brightness(0) saturate(100%) invert(86%) sepia(52%) saturate(1440%)
            hue-rotate(131deg) brightness(86%) contrast(87%);
}